header
{ 
    color:#71b9c7;
    border-radius:  15px;
    width: 70%;
    margin: auto;
    padding-bottom: 15px;
    padding-top: 15px;
    text-align: center;
    color: #000d0f !important;
}

ul 
{
    list-style-type: none;
    display: flex;
    margin-right: 10px;
    justify-content: space-evenly;
}

ul li{
    margin-right: 10px;
    color:#000d0f;
    border-radius: 10px;
    padding: 10px;
}

section
{
    width: 80%;
    margin: 0;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 30px;
    justify-content: center;
}

img 
{
     width: 20%;
     margin: 15px;
     border-radius: 10px;
     margin: 50px, auto;
     margin-right: 0%;
}

li a 
{
    text-decoration: none;
}

li a:hover
{
    color:#D2D5D9;
}

li a:visited
{
    color:#0000FF;
}

video
{
    width: 35%;
    margin: 0 ;
}

body
{
    background-color: rgb(224, 148, 253);  
    margin: 0%;  
    font-family: 'Times New Roman', Times, serif;
}

footer
{
    margin: 0;   
}

form
{
    margin: 30px,auto;
    padding: 20px;
    background-color: rgb(224, 148, 253);  
     
}

label
{
    font-size: 16px;
    font-weight: bold;
    color: blueviolet;
}

input[type = "text"], input[type = "email"],textarea{
    padding: 10px;
    border: red;
    border-radius: 5px;
    font-size: 15px;
    margin-bottom: 10px;
}

input[type = "radio"], input[type = "checkbox"]{
    margin-right: 5px;
}

input[type = "submit"],
button[type = "reset"],
button[type = "button"]{
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    color: violet;
    background-color: #993399 ;
    cursor: help; 
    margin-right: 10px;
}

select
{
     padding: 10px;
     border: red;
     border: 1px;
     border-radius: 5px;
     font-size: 15px;
     width: 42%;
     margin-bottom: 10px;
     background-image: linear-gradient(to bottom, #cc00ff, #ff99ff);
}

select:focus
{
    outline: 2px solid rgb(234, 1, 255);
    border-color: fuchsia;
}

legend
{
    font-size: 20px;
    font-weight: bold;
    color: #cc00ff;
    margin-bottom: 20px;
}

input:invalid{
    border: 2px bold red;
}

#Rodapé{
    margin: 0 auto;
    text-align: center;
}